.Titulo {
    font-size: 44px;
    color:blue;
    border-style:solid;
    border-color:red;
    border-radius: 10px;
    border-width: 5px;
}   
.formus{
    color:blue;
    border: 2px;
}

*{
  color:black;
  
}

.inicio{
    color: blue;
}

/* Formas de bordes 
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
/*